body,
ul,
li {
    font-family: tahoma;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(199, 217, 225);
}

header {
    background-color: rgb(225, 222, 199);
    text-align: center;
    position: relative;
    width: 100%;
}

.title {
    color: white;
    width: 100%;
    background-color: rgba(24, 27, 35, 0.994);
    display: inline-block;
    padding: 2px 0px;
    position: sticky;
    top: 0px;
}

.banner {
    height: 500px;
    overflow: hidden;
}

.banner img {
    margin: 0px 0px 0px 0px;
    width: 40%;
}

.newItem {
    background-color: rgb(225, 222, 199);
    padding: 20px 40px;
    color: white;
    display: flex;
    justify-content: center;
}

.newItem:after {
    content: "";
    display: table;
    clear: both;
}

#newDisciplinaEstudada {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 16%;
    padding: 15px;
    font-size: 18px;
}

#newConteudo {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 20%;
    padding: 10px;
    font-size: 18px;
}

#newContato {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 10%;
    padding: 10px;
    font-size: 18px;
}

#newPrimeiraRevisao{
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 12%;
    padding: 10px;
    font-size: 18px;
}

#dataPrimeiraRevisao{
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 8%;
    padding: 11px;
    font-size: 18px;
}

#newSegundaRevisao {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 12%;
    padding: 10px;
    font-size: 18px;
}

#newQuestõesFeitas {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 8%;
    padding: 10px;
    font-size: 18px;
}

#newQuestõesAcertadas {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 11%;
    padding: 10px;
    font-size: 18px;
}

#data {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 12%;
    padding: 10px;
    font-size: 18px;
}



.addBtn {
    padding: 9px 10px;
    background-color: rgb(35, 32, 24);
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;
}

.addBtn:hover {
    background-color: #2ab53a;
    color: white;
}

.items {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.close:hover {
    color: #f44336;
    font-weight: bolder;
}

table
tr ,

td {
    border: 1px solid black;
    border-collapse: collapse;
    cursor: pointer;
    position: relative;
    padding: 4px 50px 12px 80px;
    font-size: 18px;
    transition: 0.2s;
    text-align: start;
}

table{
    background-color: rgb(255, 255, 255);
    width: 80%;
}



tr:nth-child(odd){
    background-color: #eee;
}

th:nth-child(1){
    width: 80%;
  
}

tr:hover {
    background: rgb(200, 199, 199);
}

input[type="date"]:not(.has-value):before{
    color: lightslategray;
    content: attr(placeholder);
    /* Comment */

    color: black;
    font-size: 18px;
    font-style:normal ;
    font-weight: bold;
  }

  input {
	display: block;
  }

  div.col{
    display: flex;
    flex-direction: column;
    width: 200px;
 }
 
 div.col input:not(:last-child){
    margin-bottom: 10px;
 }


input[type="date"]:in-range::-webkit-datetime-edit-year-field, 
input[type="date"]:in-range::-webkit-datetime-edit-month-field, 
input[type="date"]:in-range::-webkit-datetime-edit-day-field {
    color: transparent;
}
   